<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>xxapps</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                xxapps
            </div>
            <div class="social-icons">
                <a class="social-icon" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="social-icon" href="#"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
        <div class="content">
            <div class="login-container">
                <a class="button login" href="/login">Keycloak Login</a>
            </div>
        </div>
    </div>
</body>
</html>